body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/DSCF4573.JPG");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  	padding-left:20%; 
	padding-top: 25%;
}

.bigtitle {
	color: white; 
	font-family: 'Trocchi', serif; 
	font-size: 200px; 
	font-weight: normal; 
	margin: 0;
	
	line-height: 1.0em;
}

.footer{
	margin-top: 5%;
	background-color: #f5f7fa;
	color: black;
}

.little{
	font-size: 10px;
}