body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/DSCF4573.JPG");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.bigtitle {
	 /** 	padding-left:15%;***/ 
	padding-top: 20%;
	
	color: white; 
	font-family: 'Trocchi', serif; 
	font-size: 1500%; 
	font-weight: normal; 
	margin: 0;
	
	/*line-height: 1.0em;*/
}

.title{
	margin-top: 5%;
	font-size: 250%;
}

.footer{
	margin-top: 5%;
	background-color: #f5f7fa;
	color: black;
}

.little{
	font-size: 10px;
}

.quickinfo{
	background-color: #083803;
	color: white;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-weight: bold;
	font-size: 1.9em;
}

.quickinfo a{
	color: white;
}

.quickinfo a:visited{
	color: white;
}

.quickinfo img{
	max-width: 1em;
	max-height: 1em;
}

.row.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hide{
	display:none;
}